<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d75bf39b-b466-4bb2-b505-9a6a1769bc5f" wadlVersion="http://wadl.dev.java.net/2009/02" name="Hybris-Interfaces.paw" type="rest" basePath="/ajax" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:description xsi:nil="true"/><con:settings><con:setting id="d75bf39b-b466-4bb2-b505-9a6a1769bc5ffileName">Hybris-Interfaces.paw</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://hostname</con:endpoint></con:endpoints></con:interface>